.game-background {
  margin-top: var(--size-header);
  background: linear-gradient(197deg, #58bfeb 11.32%, #23a47d 88.2%);
  min-height: calc(100vh - var(--size-header));
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.game-background-oktoberfest {
  background: linear-gradient(197deg, #ffd556 11.32%, #782803 88.2%);
}

.game-background-cancerAwareness {
  background: linear-gradient(197deg, #00ccff 11.32%, #fa9302 88.2%);
}

.game-image-and-game-container {
  display: flex;
  flex-flow: row nowrap;
}

.game-image-container {
  height: calc(100vh - var(--size-header));
}

.game-container {
  width: calc(100% - 10rem);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 7rem;
}

.game-word-to-write {
  font-size: 2.5rem;
  font-family: var(--font-text);
  text-align: center;
  letter-spacing: 1.3rem;
}

.game-word-being-written {
  font-size: 2.5rem;
  font-family: var(--font-text);
  text-align: center;
  letter-spacing: 1.3rem;
  background: none;
}

.hide-caret {
  caret-color: transparent;
  color: transparent;
  opacity: 0;
}

.wrong-letter {
  color: red;
  /* Add any other styling you want for wrong letters */
}

.score-display {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  padding-top: 0.4rem;
  transform: translateY(3.4rem) translateX(-3rem);
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.correct-score {
  background-color: green;
  color: white;
}

.wrong-score {
  background-color: red;
  color: white;
}
