.home-background {
  background: linear-gradient(197deg, #58bfeb 11.32%, #23a47d 88.2%);
  min-height: calc(100vh - var(--size-header));
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.inputs-container {
  display: flex;
  flex-flow: column nowrap;
  width: 45vw;
  align-items: center;
  gap: 2rem;
}
