.card-image,
.card-button {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-button {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(45, 35, 66, 0.4) -2px 6px 7px,
    rgba(45, 35, 66, 0.3) 3px 6px 13px -3px, #d6d6e7 -1px -6px 0 inset;
}

.card-description {
  font-size: 1.4rem;

  font-family: var(--font-text);
  padding-bottom: 0.9rem;
}

.card-text-below {
  display: block;
}

.card-desc-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  height: 3.5rem;
  padding-top: 0.4rem;
}
