.inputs-sk {
  width: 70%;
}

.inputs-sk::placeholder {
  color: rgb(62, 56, 56);
}

.inputs-sk {
  border: none;
  text-align: center;
}

.input-text {
  font-size: 2rem;
  height: 5rem;
  border-radius: 15px;
  font-family: "Courier Prime", monospace;
  color: black;
  box-shadow: rgba(45, 35, 66, 0.4) -2px 6px 7px,
    rgba(45, 35, 66, 0.3) 3px 6px 13px -3px, #d6d6e7 -1px -6px 0 inset;
}
